<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quantified Self</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="nav-bar" role="banner">
      <a href="http://localhost:3000/users/welcome" class="submit-button">Home</a>
      <h1>Quantified Self API</h1>
      <a href="http://localhost:3000/users/logout" class="submit-button">Log Out</a>
    </nav>
    <section class="column-section">
      <h2>My Meals</h2>
      <% if (meals) {%>
        <% meals.forEach(function(meal) {%>
          <div class="row-section wide white-background">
            <h2><a href="http://localhost:3000/users/my_meals/<%= meal.id %>/foods" class="submit-button medium-button"><%= meal["name"] %></a></h2>
            <h3 class="orange">Total Calories: <%= totalCalories[meal.id] %></h3>
          </div>
          <hr>
        <%})};%>
      <% if (meal) { %>
        <h2><%= meal["name"] %> -</h2>
        <p>Total Calories: <%= totalCalories[meal.id] %></p>
        <% foods.forEach(food => {%>
          <p><%= food.name %> - calories: <%= food.calories %></p>
      <% })}; %>
    </section>
    <!-- <script type="text/javascript" src="../models/meal.js">

    </script> -->
  </body>
</html>
